body{
    font-family: 'Bitter';
    /* display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0; */
    margin:0;
    padding: 0;

    background: rgb(182,28,173);
    background: radial-gradient(circle, rgba(182,28,173,1) 0%, rgba(216,102,39,1) 43%, rgba(106,45,253,1) 93%);
    color: white;
  
    

    

}


.Title{
    /* text-decoration: underline;
    text-decoration-color:  #f511cb93;
    text-decoration-thickness: 20px; */
    text-align: center;
    /* margin-bottom: 30px; */
    margin: 0;
    height: 70vh;
    padding: 15vh 10vw;
    font-size: 7rem;


}



.eventContainer{

    width:100%;

    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    margin-top: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;


}

.Timeline-Setup{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0;  /* Adjusted to remove padding */
    margin: 0;   /* Adjusted to remove margin */
    width: 100%;
    /* width: 100vh; */
    /* padding: 1vh 1vw; */
    /* width: 100vw; */

}

.timelinesetupdivtest{
    /* background-color: rgba(212, 212, 212, 0.247); */



    display: flex;
    flex-direction: column;
    /* margin: 30%; */
    margin: 10px;
    margin-top: 10px;
    position: relative;
    align-items: center;
    justify-content: space-around;
    width: 98%;
    margin-bottom: 30px;

    border: 3px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    padding: 30px; /* Corrected value */
    box-sizing: border-box; /* Include padding in width calculation */
    border-radius: 10px;

}

.LOGOS{
    height: auto;
    width: 50%;






}


.eventContainer{

    display: flex;
    flex-direction: row;

}




.info-container{
    background-color: rgba(255, 255, 255, 0.217);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    /* overflow: auto; */
    height: auto;
    width: 25vw;
    margin-bottom: 30px;

    

    
}
.info-container.logoContainer {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
}


.Left{
    width: 30vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;

    /* height: 20vh; */
}
.Right{
    width: 30vw;
}

.Timeline-Item{
    text-align: left;

    padding: 30px;
    padding: 50px;

}
.Middle{
    position: absolute;  /* Set position to absolute */
    top: 50%;  /* Center vertically */
    left: 50%;  /* Center horizontally */

    margin-top: 10px;
    padding: 3px;
    background-color: #ffffff;
    width: 2px;
    border-radius: 2vh;
    height: 90%;
    z-index: 1000;

    transform: translate(-50%, -50%);

}
