body{
    font-family: 'Lato', sans-serif;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0; */
    background: rgb(182,28,173);
    background: radial-gradient(circle, rgba(182,28,173,1) 0%, rgba(216,102,39,1) 43%, rgba(106,45,253,1) 93%);
    color: white;

    

}


.Title{
    text-decoration: underline;
    text-decoration-color:  #f511cb93;
    text-decoration-thickness: 20px;
    text-align: center;


}

.Timeline-Setup{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0;  /* Adjusted to remove padding */
    margin: 0;   /* Adjusted to remove margin */
    width: 100%;
    /* width: 100vh; */
    /* padding: 1vh 1vw; */
    /* width: 100vw; */




}

.timelinesetupdivtest{
    display: flex;
    flex-direction: column;
}

.LOGOS{
    height: auto;
    width: 30%;






}


.eventContainer{
    display: flex;
    flex-direction: row;

}
.JSL{

    height: 80vh;
    width: auto;
    display:flex;
    align-items: flex-start;
}



.info-container{
    background-color: rgba(255, 255, 255, 0.217);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    /* overflow: auto; */
    height: auto;
    width: 25vw;
    margin-bottom: 30px;

    .logoContainer{
        background-color: rgba(248, 70, 70, 0.787);
        display:flex;
        justify-content: flex-start;
        
    }
    
}


.Left{
    width: 30vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;

    /* height: 20vh; */
}
.Right{
    width: 30vw;
}

.Timeline-Item{
    text-align: left;

    padding: 30px;
    padding: 50px;

}
.Middle{
    margin-top: 10px;
    padding: 10px;
    background-color: #ff63d08f;
    width: 2px;
    border-radius: 2vh;
    height: auto;  /* Set height to auto or remove the height property */
    position: absolute;  /* Set position to absolute */
    top: 0;  /* Start from the top */
    bottom: 0;  /* Extend to the bottom */

}
